<div>last {{last}}</div>

<div class="flex-container">

    <div class="flex-child">
        <div *ngFor="let bid of bids">
            
            <div class="flex-container">

                <div class="flex-child">
                    
                    <span>{{bid.qty | number}}</span>
                </div>
                
                <div class="flex-child">
                    <span>{{bid.price | number}}</span>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="flex-child">
        <div *ngFor="let offer of offers">
            

            <div class="flex-container" (click)="onRowClicked(offer)">

                <div class="flex-child">
                    
                    <span>{{offer.price | number}}</span>
                </div>
                
                <div class="flex-child">
                    <span>{{offer.qty | number}}</span>
                </div>
                
            </div>
        </div>
    </div>
    
</div>
